@using SmartStoreInventoryManagement.Core.ViewModel
@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<SmartStoreInventoryManagement.Core.ViewModel.CategoryViewModel>


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header bg-danger">
            <h4 class="m-b-0 text-white">Add Category</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post" id="Create">
                <div class="form-body">
                    <h3 class="card-title">Information</h3>
                    <hr>
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">RegNumber</label>
                                <input type="text" @*asp-for="RegNumber"*@ id="CategoryNo" class="form-control" name="CategoryNo">
                               @* <span asp-validation-for="CategoryNo" class="text-danger"></span>*@
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Name</label>
                                <input type="text" @*asp-for="Name"*@ id="Name" class="form-control" name="Name">
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    @*<h3 class="box-title m-t-40">Address</h3>
                        <hr>*@
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" @*asp-for="Description"*@ id="description" class="form-control" name="description">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                    <button type="button" class="btn btn-inverse">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Department List</h4>
            <div class="table-responsive">
                <table class="table color-table danger-table">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>RegNumber</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dep in Model)
                        {
                            <tr>
                                <td scope="row">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu">
                                            @*<a asp-page="/EditCategory" asp-route-id="@dep.Id" class="dropdown-item">Edit</a>*@

                                            <a>@Html.ActionLink("Edit", "EditCategory", new { Id = dep.Id })</a>

                                            @*<a @Html.ActionLink("Delete", "DeleteDepartment", new { id = dep.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })></a>*@
                                        </div>
                                    </div>
                                </td>
                                <td>@dep.CategoryNo</td>
                                <td>@dep.Name</td>
                                <td>@dep.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <div id='Paging' style="text-align: center;color:blue">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount

                    @*@Html.PagedListPager(Model, pageindex => Url.Action("Department", new { pageindex }))*@
                </div>
            </div>
        </div>
    </div>
</div>